[submodule "RiemannTheta"]
	path = RiemannTheta
	url = https://github.com/nbruin/RiemannTheta
[submodule "abelfunctions"]
	path = abelfunctions
	url = https://github.com/abelfunctions/abelfunctions
[submodule "Theta.jl"]
	path = Theta.jl
	url = https://github.com/chualynn/Theta.jl
[submodule "flint"]
	path = flint
	url = https://github.com/flintlib/flint
